.single-lottery-ticket {
  width: 17.5vw;
  height: 17.5vw;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 1vh;
}

.ticket-name {
  text-align: center;
  color: gold;
  font-size: 15pt;
  text-shadow: 1px 1px goldenrod;
}

.winning-numbers {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  justify-content: space-around;
  margin-top: 1vh;
}

.winning-number-slot {
  height: 5vh;
  width: 3vw;
  border: 1px solid rgb(255, 183, 0);
  background-color: lightgoldenrodyellow;
  text-align: center;
}

.winning-number-slot-revealed {
  height: 5vh;
  width: 3vw;
  border: 1px solid rgb(255, 183, 0);
  color: red;
  font-size: 18pt;
  text-align: center;
}

.ticket-slots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5vh;
}

.ticket-slot {
  border: 1px solid black;
  width: 2vw;
  height: 1.5vw;
  background-color: lightskyblue;
}

.ticket-slot-loss {
  border: 1px solid rgb(51, 51, 51);
  width: 2vw;
  height: 1.5vw;
  text-align: center;
}

.ticket-slot-win {
  border: 1px solid goldenrod;
  width: 2vw;
  height: 1.5vw;
  color: red;
  text-align: center;
  font-weight: bold;
}