.welcome-header {
  text-align: center;
  color: darkmagenta;
  text-shadow: 1px 1px red;
}

.wallet-container {
  position: fixed;
  left: 16vw;
  top: 11vh;
  width: 20vw;
  height: 20vh;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  overflow-y: scroll;
}

.ticket-shelf {
  position: fixed;
  left: 30vw;
  top: 35vh;
  width: 50vw;
  height: 50vh;
  border: 1px solid blue;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 0.75vw;
  padding: 1vh;
  overflow-x: scroll;
}

.ticket-deck {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.ticket-display {
  width: 15vw;
  height: 20vw;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 1vh;
}

.buy-ticket-button {
  width: 15vw;
  border: 2px solid green;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 3px 3px 1px darkgreen;
}

.buy-ticket-button:hover {
  background-color: lightgreen;
  cursor: pointer;
}

.buy-ticket-button:active {
  box-shadow: 3px 1px 1px 3px darkgreen;
}

.wallet-ticket-slip {
  border: 1px solid black;
}

.opened-ticket-display {
  position: fixed;
  left: 42.5vw;
  top: 40vh;
}


.ticket-info-screen {
  position: fixed;
  left: 75vw;
  top: 15vh;
  width: 10vw;
  height: 10vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  justify-content: space-around;
  padding: 1vw;
}

.ticket-info-item {
  font-size: 7pt;
}