.welcome-header {
  text-align: center;
  color: darkmagenta;
  text-shadow: 1px 1px red;
}

.wallet-container {
  position: fixed;
  left: 16vw;
  top: 11vh;
  width: 20vw;
  height: 20vh;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  padding-top: 2vh;
}

.ticket-shelf {
  position: fixed;
  left: 30vw;
  top: 35vh;
  width: 50vw;
  height: 50vh;
  border: 1px solid blue;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  padding: 1vh;
  overflow-x: scroll;
}

.buy-ticket-button {
  width: 15vw;
  border: 2px solid green;
  border-radius: 5px;
  background-color: white;
}

